body {
    background-color: azure;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.product-card {
    border: solid 1px lightblue;
    background-color: white;
    width: 30%;
    margin: 15px 10px;
}

.product-name {
    text-align: center;
    border: dotted 1px lightgray;
}

ul {
    list-style-type: none;
}

